<div class="container">
  <div class="cover">
    <div class="front">
      <div class="text">
        <span class="text-1">Bienvenidos a TranspoBL</span>
      </div>
    </div>
  </div>

  <div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Ingresar</div>
        <form (ngSubmit)="login()">
          <div class="input-boxes">
            
           <div class="input-box">
  <span class="material-icons"></span>
  <input
    type="text"
    placeholder="Ingrese su usuario"
    [(ngModel)]="username"
    name="username"
    required
  />
</div>

<div class="input-box">
  <span class="material-icons"></span>
  <input
    type="password"
    placeholder="Ingrese su contraseña"
    [(ngModel)]="password"
    name="password"
    required
  />
</div>
            <div class="button input-box">
              <input type="submit" value="Ingresar" />
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
